In [1]:
import pandas as pd

In [2]:
# path and alias
PRE_FILE_PATH = "data/"
POST_FILE_PATH = "data/post/"
file_name = "Electronics"

In [3]:
# sample on first 1000 data
df = pd.read_json(PRE_FILE_PATH+file_name+'.jsonl',lines=True, nrows=1000)

print(df.shape)

df.head()

(1000, 10)

,rating,title,text,images,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
0,3,Smells like gasoline! Going back!,First & most offensive: they reek of gasoline ...,[{'small_image_url': 'https://m.media-amazon.c...,B083NRGZMM,B083NRGZMM,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,2022-07-18 22:58:37.948,0,True
1,1,Didn’t work at all lenses loose/broken.,These didn’t work. Idk if they were damaged in...,[],B07N69T6TM,B07N69T6TM,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,2020-06-20 18:42:29.731,0,True
2,5,Excellent!,I love these. They even come with a carry case...,[],B01G8JO5F2,B01G8JO5F2,AFKZENTNBQ7A7V7UXW5JJI6UGRYQ,2018-04-07 09:23:37.534,0,True
3,5,Great laptop backpack!,I was searching for a sturdy backpack for scho...,[],B001OC5JKY,B001OC5JKY,AGGZ357AO26RQZVRLGU4D4N52DZQ,2010-11-20 18:41:35.000,18,True
4,5,Best Headphones in the Fifties price range!,I've bought these headphones three times becau...,[],B013J7WUGC,B07CJYMRWM,AG2L7H23R5LLKDKLBEF2Q3L2MVDA,2023-02-17 02:39:41.238,0,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rating             1000 non-null   int64
 1   title              1000 non-null   object
 2   text               1000 non-null   object
 3   images             1000 non-null   object
 4   asin               1000 non-null   object
 5   parent_asin        1000 non-null   object
 6   user_id            1000 non-null   object
 7   timestamp          1000 non-null   datetime64[ns]
 8   helpful_vote       1000 non-null   int64
 9   verified_purchase  1000 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 71.4+ KB

In [5]:
# all columns
df.columns

Index(['rating', 'title', 'text', 'images', 'asin', 'parent_asin', 'user_id',
       'timestamp', 'helpful_vote', 'verified_purchase'],
      dtype='object')

In [6]:
categories = ['user_id', 'parent_asin', 'rating']
dtypes = {'user_id': object, 'parent_asin': object, 'rating': int}
output = pd.DataFrame(columns=categories)
chunks = []
for chunk in pd.read_json(PRE_FILE_PATH+file_name+'.jsonl',lines=True, chunksize=10000, dtype=dtypes):
    new_df = chunk[categories]
    chunks.append(new_df)

output = pd.concat(chunks, ignore_index=True)

In [7]:
output.head()

                        user_id parent_asin  rating
0  AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B083NRGZMM       3
1  AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B07N69T6TM       1
2  AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B01G8JO5F2       5
3  AGGZ357AO26RQZVRLGU4D4N52DZQ  B001OC5JKY       5
4  AG2L7H23R5LLKDKLBEF2Q3L2MVDA  B07CJYMRWM       5

In [8]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43886944 entries, 0 to 43886943
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   parent_asin  object
 2   rating       int64
dtypes: int64(1), object(2)
memory usage: 1004.5+ MB

In [9]:
# Checking for null values
output.isnull().sum()

user_id        0
parent_asin    0
rating         0
dtype: int64

In [10]:
# handle null values
output.dropna()

                               user_id parent_asin  rating
0         AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B083NRGZMM       3
1         AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B07N69T6TM       1
2         AFKZENTNBQ7A7V7UXW5JJI6UGRYQ  B01G8JO5F2       5
3         AGGZ357AO26RQZVRLGU4D4N52DZQ  B001OC5JKY       5
4         AG2L7H23R5LLKDKLBEF2Q3L2MVDA  B07CJYMRWM       5
...                                ...         ...     ...
43886939  AG6GCWFPTEYFDEC6IFB2CIJGRBZQ  B0055WSPGO       5
43886940  AGVM4Q7V5CGR5SRZNW7GTMXQMNDA  B08GLRVD95       5
43886941  AFDKH2CK3YBL2TQXVVGJRZHQJKIQ  B07CPP72N2       1
43886942  AGDC4SOFDQ3UXPXMEYJ57SMM3F4A  B074MPGVYH       5
43886943  AHO2PRGENQMCOKG6RHQ4EKJYPEZQ  B0145JXTN6       1

[43886944 rows x 3 columns]

In [11]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43886944 entries, 0 to 43886943
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   parent_asin  object
 2   rating       int64
dtypes: int64(1), object(2)
memory usage: 1004.5+ MB

In [13]:
# save to pickle format
output.to_pickle(POST_FILE_PATH+file_name+'.pkl')